<div class="row">
  <div class="col-12">
    <img
      src="../../../../assets/img/uncharted-waters.jpg"
      alt="Uncharted Waters"
      class="event-image"
    />
  </div>
  <div class="col-12">
    <p>
      Embark on an epic voyage across uncharted waters. This thrilling event
      challenges you to navigate treacherous seas, discover hidden isles, and
      command your fleet with strategy and courage. Will you become a legendary
      explorer, or will the mysteries of the deep consume your ambitions?
    </p>
  </div>
</div>
