<app-nav-hub
  title="Events"
  subtitle="Participate in seasonal events to earn exclusive rewards"
  navLabel="Available Events"
  [items]="events"
  [activeId]="activeEvent"
  (activeIdChange)="onEventChange($event)"
>
  <!-- Render event-specific component -->
  @switch (activeEvent) { @case (Event.UnchartedWaters) {
  <div class="events-component">
    <app-uncharted-waters></app-uncharted-waters>
  </div>
  } @case (Event.ReapWhatYouSow) {
  <div class="events-component">
    <app-reap-what-you-sow></app-reap-what-you-sow>
  </div>
  } }
</app-nav-hub>
