<div class="row">
  <div class="col-12">
    <div class="event-placeholder">
      <span class="placeholder-label">War of the Lions</span>
    </div>
  </div>
  <div class="col-12">
    <p>
      An epic clash of noble houses and mighty warriors. The War of the Lions
      pits Lords against each other in brutal ranked combat. Deploy your
      fiercest knights, command your armies with tactical brilliance, and seize
      dominion over rival territories to earn glorious battle rewards and prove
      your martial supremacy.
    </p>
  </div>
</div>
