.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.map {
  width: 100%;
  max-width: unset !important;
  margin: 0 auto;
  padding: 0;
  background-size: auto;
  background-repeat: no-repeat;
  content: url(../../../../../assets/img/kings-choice-unchartered-waters-map.png);
}

.relative {
  position: relative;
  padding-bottom: 0;
  width: 100%;
  margin: 0 auto; /* Center the map */
}
